/* style.css */
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
/* HERO SECTION */
.hero {
    height: 80vh;
    background-color: #1F2937;
}
.top-nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    color:#F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
}
.nav-buttons {
    font-size: 16px;
    padding-right: 10px;
}
ul {
    list-style: none;
    color:#F9FAF8;
    display: flex;
}
li {
    padding: 5px;
}
a {
    text-decoration: none;
    color:#F9FAF8;
}
/* PROJECTS SECTION */
.projects {
    height: 50vh;
    background-color: white;
}
/* QUOTE SECTION */
.quote {
    height: 50vh;
    background-color: #E5E7EB;
}
/* MOTIVATION SECTION */
.signup {
    height: 40vh;
    background-color: white;
}
/* FOOTER SECTION */
.footer {
    height: 60px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}