/* style.css */
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
/* HERO SECTION */
.hero {
    height: 80vh;
    background-color: #1F2937;
}
.top-nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    color:#F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
}
.nav-buttons {
    font-size: 14px;
    padding-right: 10px;
}
ul {
    list-style: none;
    color:#F9FAF8;
    display: flex;
}
li {
    padding: 5px;
}
a {
    text-decoration: none;
    color:#F9FAF8;
}
.hero-container {
    display: flex;
    color:#F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20vh 48px;
}
.hero-left {
    width: 400px;
    align-items: center;
}
.hero-right {
    background-color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 150px;
}
/* PROJECTS SECTION */
.projects {
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.project-container {
    margin: 30px;
}
.project-info {
    text-align: center;
}
.items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}
.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-spacer{
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    border-radius: 10%;
}
.file-info {
    text-align: center;
}
/* QUOTE SECTION */
.quote {
    height: 50vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container {
    width: 500px;
}
.quote-text{
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}
.quote-name {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: right;
}
/* MOTIVATION SECTION */
.signup {
    height: 40vh;
    background-color: white;
}
/* FOOTER SECTION */
.footer {
    height: 60px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}